@import "tailwindcss";

@font-face {
  font-family: "Find Sans Pro";
  src: url("/fonts/FindSansPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Find Sans Pro";
  src: url("/fonts/FindSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Find Sans Pro";
  src: url("/fonts/FindSansPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Find Sans Pro";
  src: url("/fonts/FindSansPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Find Sans Pro", Arial, Helvetica, sans-serif;
  --font-mono: monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Find Sans Pro", Arial, Helvetica, sans-serif;
}